doctype html
html(lang='en')
   head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width,initial-scale=1')
      meta(name='author', content='jjwyse')

      link(rel='shortcut icon', href='/images/favicon.ico')

      script(src='https://cdn.socket.io/socket.io-1.0.6.js')

      title=title
   body
      header
         h1 👂 for webhooks ...
         #webhooks
      footer
         p &copy;
            a(href='http://joshuawyse.com', target='_blank')  jjwyse
            |  2018


         script.
            var socket = io();
            const uri = window.location.pathname;
            console.log(`Listening for events on ${uri}`);
            if (uri === '/') {
              var warning = document.createElement('div');
              warning.innerHTML = '<h2>v0.2.0 update: now supports custom URIs, so you can go to any /yourUri and webhooks that are sent to that will only be sent to any clients on that URI</h2>';
              document.getElementById('webhooks').append(warning);
            }

            socket.on(uri, function (webhook) {
              var body = webhook.body;
              var headers = webhook.headers;

              var webhook = document.createElement('div');
              webhook.innerHTML = `<hr>${new Date()}<hr><h3>Headers:</h3>${headers}<br><h3>Body:</h3>${body}<br><br>`;
              document.getElementById('webhooks').prepend(webhook);
            });
